{% extends 'base.html' %} 

{% block content%}
<form>
    <h1>Nova Materia</h1>
  <div class="form-group">
    <label for="formGroupExampleInput">Titulo</label>
    <input type="text" class="form-control" id="inputTitulo" 
        placeholder="Digite o titulo"/>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Categoria:</label>
    <select class="form-control" id="selecaoCategorias">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Subtitulo:</label>
    <input type="text" class="form-control" id="inputSubtitulo" 
        placeholder="Digite o subtitulo"/>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Materia:</label>
    <textarea class="form-control" id="textAreaMateria" rows="5"
    ></textarea>
  </div>
</form>
{% endblock content %}
