{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4 text-center">{{ titulo_pagina }}</h1>
    <button type="button" class="btn btn-success">Adicionar Materia</button>
    <button type="button" class="btn btn-danger">Remover Materia</button><br/><br/>
    <form method="POST">    
        {% csrf_token %}
        <button type="submit" class="btn btn-dark" name="botao" value=0>Todas</button>
        {% for categoria in categorias %}
            <button type="submit" name="botao" value="{{ categoria.id }}" class="btn btn-dark">{{ categoria.nome }}</button>
        {% endfor %}
    </form>
    <hr>
    {% for materia in materias %}
        <h5><strong>Categoria: </strong>{{ materia.categoria }}</h5>
        <h1><a href=" {% url 'detalhe_materia' pk=materia.pk %}">{{ materia.titulo }}</a></h1>
        <h4>{{ materia.subtitulo }}</h4>
        <blockquote>{{ materia.texto }}</blockquote>
        <p><strong>Autor: </strong>{{ materia.pessoa }}</p>
        <p><strong>Lançamento da publicação: </strong>{{ materia.data_criacao }}</p>
        <hr>
    {% endfor %}
{% endblock content %}
